/*---GLOBAL VARIABLES---*/
$primaryColor: #ff2626;
$secondaryColor: #012c4b;

$defaultBgColor: #ffffff;
$primaryBgColor: #f9fc18;
$secondaryBgColor: #f7f7f7;

$successColor: #43a047;
$informationColor: #1976d2;
$warningColor: #ffa000;
$errorColor: #d32f2f;