/*---GLOBAL VARIABLES---*/
$defaultTextColor: #393939;
$defaultBoldTextColor: #1b1b1b;
$primaryTextColor: #e5e7e3;

$primaryColor: #353535;
$secondaryColor: #5f7083;

$defaultBgColor: #ffffff;
$defaultBgColor2: #fafbfc;
$defaultBgColor3: #f7f8f9;
$primaryBgColor: #f4f4f4;
$secondaryBgColor: #eaecf0;

$successColor: #43a047;
$informationColor: #1976d2;
$warningColor: #ffa000;
$errorColor: #d32f2f;