@import '../../../assets/scss/global.scss';

.header-view {
  background-color: $defaultBgColor;
  height: 55px;
  padding: 10px 0px;
  width: 100%;

  header {
    position: relative;

    .logo-container {
      color: $defaultBoldTextColor;
      width: 300px;
      margin: auto;
      font-weight: 600;
      font-size: 120%;
      letter-spacing: 0.1em;
    }

    .nav-horizontal {
      position: absolute;
      top: 0;
      left: 0;
      .nav-ul {
        .nav-li {
          padding: 0;
          float: left;

          button {
            font-weight: 600;
          }

          &:hover button {
            background-color: $primaryBgColor;
          }
        }
      }
    }

    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }
}