@import './assets/scss/global.scss';

.app {

  /*---MATERIAL UI---*/
  /*---END MATERIAL UI---*/

  /*---TEXT---*/
  .g-text-center {
    text-align: center;
  }

  .g-text-left {
    text-align: left;
  }

  .g-text-right {
    text-align: right;
  }
  /*---END TEXT---*/
}
