@import './assets/scss/global.scss';

.app {

  /*---MATERIAL UI---*/
  /*---END MATERIAL UI---*/

  /*---TEXT---*/
  .g-text-center {
    text-align: center;
  }

  .g-text-left {
    text-align: left;
  }

  .g-text-right {
    text-align: right;
  }

  .g-text-bold {
    font-weight: bold;
  }

  .g-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }
  /*---END TEXT---*/

  /*---MOUSE ACTION---*/
  .g-cursor-pointer {
    cursor: pointer;
  }
  /*---END MOUSE ACTION---*/

  /*---POSITION---*/
  .g-float-left {
    float: left;
  }

  .g-float-right {
    float: right;
  }

  .g-clear-after {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  /*---END POSITION---*/

  /*---DISPLAY---*/
  .g-display-none {
    display: none
  }
  /*---END DISPLAY---*/
}
