@import '../../assets/scss/global.scss';

.home-view {
  position: relative;

  .home-main-image {
    display: block;
    width: 100%;
    height: 480px;
    background-image: url('../../assets/img/img-home.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;

    .home-main-image-overlay {
      width: 100%;
      height: 480px;
      z-index: 1;
      background-image: linear-gradient(to right, black , white);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.6;
    }

    .main-box-container {
      width: 100%;
      top: 16%;
      position: absolute;
      z-index: 2;
      color: #ffffff;

      h1 {
        font-size: 240%;
        line-height: 1.2em;
      }

      .search-input {
        background-color: #ffffff;

        input {
          padding: 0.8em;
          font-size: 1.2em;
        }

        .MuiOutlinedInput-notchedOutline {
          border: none;
        }
      }

      .main-box {
        width: 45%;

        @media screen and (max-width: $screenBreakpoint)  {
          width: 80%;
        }
      }
      
    }
    
  }

  .section {
    margin: 40px 0px;

    .section-title {
      margin-bottom: 20px;
    }
  }
  
}
