@import '../../../../assets/scss/global.scss';

.dropdown-menu-view {
  z-index: 9;
  position: absolute;
  box-shadow: 0px 4px 10px #cccccc;
  background-color: $defaultBgColor;

  ul {
    width: 260px;
    padding: 16px 0px;
    li {
      padding: 0px 0px 0px 20px;
      height: 36px;
      cursor: pointer;

      &:hover {
        background-color: $secondaryBgColor;
        font-weight: 600;
      }
    }

    .li-focused {
      background-color: $secondaryBgColor;
      font-weight: 600;
    }
  }  

  .category-ul-container {
    background-color: #fefefe;
  }
  .topic-ul-container {
    background-color: #f8f8f8;
  }

  .MuiSvgIcon-root {
    color: #bababa;
    font-size: 1.4em;
    float: right;
    margin-top: 5px;
  }
}